# DS Store
.DS_Store

# Binary files
*.exe
*.dll
*.so
*.dylib

# env files
.env
.venv/

# cache files
__pycache__/
*.pyc

data/raw/
data/processed/

# log files
logs/
*.parquet

# IDE files
.vscode/
.idea/